<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Portal Vendrame</title>

    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/icone.png') }}"
      type="image/png"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
  </head>

  <body>
    <main class="page">
      <div class="overlay"></div>

      <section class="content">
        <h1 class="title">Bem-vindo, {{ nome }}</h1>
        <p class="subtitle">Selecione uma opção para continuar</p>

  <div class="actions">
  <!-- Card 1 -->
  <a class="card card-image" href="{{ url_for('home_admin.solicitacoes_em_andamento_admin') }}">
    <div class="card-media">
      <img
        src="{{ url_for('static', filename='assets/andamento.png') }}"
        alt="Nova Solicitação"
      />
    </div>
    <span class="card-bar" aria-hidden="true"></span>
  </a>

  <!-- Card 2 -->
  <a class="card card-image" href="{{ url_for('home_admin.controle_acessos') }}">
    <div class="card-media">
      <img
        src="{{ url_for('static', filename='assets/acessos.png') }}"
        alt="Minhas Solicitações"
      />
    </div>
    <span class="card-bar" aria-hidden="true"></span>
  </a>
</div>


        <footer class="footer">© 2026 Vendrame. Todos os direitos reservados.</footer>
      </section>
    </main>
  </body>
</html>
